{
    "plugins": [
        [
            "module:react-native-dotenv",
            {
                "envName": "ENV",
                "moduleName": "@env",
                "path": ".env"
            }
        ]
    ]
}